# Editor
alias vi='vim'
alias v='vim'

# Ubuntu
# alias sai='sudo apt install'
# alias sar='sudo apt remove'
# alias sau='sudo apt update -y'
# alias sauu='sudo apt update -y && sudo apt upgrade -y'
# alias sadu='sudo apt update -y && sudo apt upgrade -y && sudo apt dist-upgrade -y'
# alias saa='sudo apt autoremove -y'
# alias apthistory='less /var/log/apt/history.log'

# Fedora
# alias sdi='sudo dnf install -y'
# alias sdr='sudo dnf remove -y'
# alias sdu='sudo dnf check-update -y'
# alias sdcu='sudo dnf check-update -y'
# alias sdup='sudo dnf check-update -y && sudo dnf upgrade -y'
# alias sdupr='sudo dnf upgrade -y --refresh'
# alias sda='sudo dnf autoremove -y'
# alias sdca='sudo dnf clean all -y'
# alias sds='sudo dnf search'

# macOS
alias b='brew'
alias bu='brew update'
alias buu='brew update -y && brew upgrade -y'
alias bs='brew search'

# Git
alias g='git'
alias gadd='git add'
alias gcomm='git commit'
alias gcommit='git commit'
alias gdiff='git diff'
alias gfetch='git fetch'
alias gpom='git push origin master'
alias gpull='git pull'
alias gstat='git status'
alias branch='git rev-parse --abbrev-ref HEAD'

# Dotfiles
# alias vbashrc='vim ~/.bashrc'
# alias sbashrc='source ~/.bashrc'
alias update-dotfiles='bash ~/github/dotfiles/.scripts/update_dotfiles.sh'
alias check-git-status='bash ~/github/dotfiles/.scripts/check_git_status.sh'
alias szsh='source ~/.zshrc'
alias vzsh='vim ~/.zshrc'
alias czsh='cp ~/.zshrc'
alias valiases='vim ~/.aliases'
alias caliases='cp ~/.aliases'
alias vvim='vim ~/.vimrc'
alias cvim='cp ~/.vimrc'

# Server
# alias bye='sudo poweroff'
# alias checkpower='powerstat -R -c -z'
# alias publicip='dig +short myip.opendns.com @resolver1.opendns.com'

# General
# alias 
alias del='rm -rfi'
alias h='history'
alias name='printf '%s' "whoami     " && whoami && printf '%s' "hostname   " && hostname' 

# Docker
alias dockerlint='docker run --rm -i hadolint/hadolint < Dockerfile'
alias dpurge='docker system purge'
alias dflask='docker run -d -p 5000:5000'
alias dstat='docker ps -a'
alias dimg='docker images'
alias dfind='tree -P "Dockerfile"'

# Python
alias prun='python3'
alias pinstall='pip3 install'

# MySQL
# alias entermysql='sudo mysql -u root'

# General color aliases
# alias ls='ls --color=auto'
# alias grep='grep --color=auto'
